 

.container{
    max-width:100%!important;
}
.bg-dark{
    background-color: lightskyblue!important;
}
.navbar-dark .navbar-nav .nav-link{
    color: black!important;
    font-weight: 600;
    cursor: pointer!important;
}
.navbar-dark .navbar-nav .nav-link a{
    color: black!important;
    font-weight: 600;
    cursor: pointer!important;
}
