.displaylabel{
    width: 40%!important;
    vertical-align:top;
}

.displaytext{
    display: inline-block;
    width: 60%!important;
}
.card-header{
    background-color: lightskyblue!important;
}
.card{
    background-color: #f3f5f7!important;
}
 